<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.dao.TradeRecordDao">

    <insert id="insertRecord" parameterType="TradeRecord">
     insert into trade_record
     values(#{senderCardNumber},#{senderName},#{type},#{receiverCardNumber},#{receiverName},#{time},#{amount})
    </insert>

    <select id="getRecordsByPhoneNumber" parameterType="String" resultType="TradeRecord">
        with t1 as (select * from user_information natural join card where phoneNumber=#{phoneNumber})
        select senderCardNumber,senderName,type,receiverCardNumber,receiverName,time,amount from trade_record as tr, t1
        where tr.senderCardNumber=t1.cardNumber or tr.receiverCardNumber=t1.cardNumber order by time
    </select>

    <select id="getAllRecords" resultType="TradeRecord">
        select * from trade_record
    </select>

    <select id="getTotalCount" parameterType="String" resultType="Integer">
        select count(*) from trade_record
        <if test="cardNumber!=null and cardNumber!=''">
            where receiverCardNumber like concat('%',#{cardNumber},'%') or senderCardNumber like like concat('%',#{cardNumber},'%')
        </if>
    </select>
</mapper>
